.mobile-header-container {
    z-index: 10;
    width: 100vw;
    position: fixed;
    background: black;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-header-container .logo {
    margin-right: 30vw;
    margin-top: 10px;
}

.mobile-header-container .logo img {
    width: 40vw;
}

.mobile-header-container .hamb {
    color: white;
    margin-left: 20px;
    padding: 5px 5px 0px 5px;
    border: 1px solid white;
    border-radius: 5px;
}

.mobile-header-container .hamb svg {
    font-size: 30px;
}
