.tecnologias-resumo-t-container {
    padding: 30px 0px;
    width: 100%;
    background: url('../../../../assets/background_triangulo_b.png');
    background-repeat: repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tecnologias-resumo-t-container .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tecnologias-resumo-t-container .header .acima {
    -webkit-background-clip: text !important;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: 800;
    font-size: 15px;
    text-transform: uppercase;
}

.tecnologias-resumo-t-container .header .titulo {
    width: 80vw;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    color: black;
    text-transform: uppercase;
    text-align: center;
}

.tecnologias-resumo-t-container .header .paragrafo {
    width: 80vw;
    text-align: center;
    color: #141414;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.025em;
}

.tecnologias-resumo-t-container .lista {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-top: 35px;
    margin-bottom: 50px;
}

.tecnologias-resumo-t-container .lista .tech {
    margin: 7px;

    width: 45%;
    height: 225px;
    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #ad00ff 0%, #2c60c5 100%);
    border-image-source: -webkit-linear-gradient(
        to right,
        #ad00ff 0%,
        #2c60c5 100%
    );
    border-image-source: -moz-linear-gradient(
        to right,
        #ad00ff 0%,
        #2c60c5 100%
    );

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.tecnologias-resumo-t-container .lista .tech:hover {
    border-image-source: linear-gradient(to right, #141414 0%, #141414 100%);
    background: -moz-linear-gradient(
        to right,
        rgba(173, 0, 255, 0.7) 0%,
        rgba(44, 96, 197, 0.7) 100%
    );
    background: -webkit-linear-gradient(
        to right,
        rgba(173, 0, 255, 0.7) 0%,
        rgba(44, 96, 197, 0.7) 100%
    );
    background: linear-gradient(
        to right,
        rgba(173, 0, 255, 0.7) 0%,
        rgba(44, 96, 197, 0.7) 100%
    );
}

.tecnologias-resumo-t-container .lista .tech img {
    width: 80%;
    margin-bottom: 15px;
}

.tecnologias-resumo-t-container .lista .tech p {
    width: 80%;
    color: #141414;
    margin-top: 15px;
    font-size: 23px;
    line-height: 100%;
    font-weight: 400;
    text-align: center;
    width: 50%;
    text-transform: uppercase;
}

.tecnologias-resumo-t-container .ver-mais {
    color: black;
    font-size: 23px;
    text-transform: uppercase;
    cursor: pointer;
}

.tecnologias-resumo-t-container .ver-mais:hover {
    text-decoration: underline;
    text-decoration-color: rgba(173, 0, 255, 1);
}
