.sobre-nos-resumo-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre-nos-resumo-container .esq {
    margin-left: 110px;
    margin-right: 20px;
}

.sobre-nos-resumo-container .esq .acima {
    width: 20vw;
    -webkit-background-clip: text !important;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: 800;
    font-size: 15px;
    text-transform: uppercase;
}

.sobre-nos-resumo-container .esq .titulo {
    width: 40vw;
    font-size: 42px;
    line-height: 60px;
    font-weight: normal;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.sobre-nos-resumo-container .esq .paragrafo {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.sobre-nos-resumo-container .esq .btn {
    margin-top: 40px;
}

.sobre-nos-resumo-container .dir {
    margin-left: 20px;
    margin-right: 110px;
}
