.animate__animated.animate__bounce {
    --animate-duration: 2s;
}

.header-container {
    background-color: transparent;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;

    z-index: 99;

    transition: background-color 0.5s;
}

.header-container.active {
    background-color: black;
    opacity: 0.9;
}

.header-container .logo {
    margin-left: 5vw;
    margin-top: 8px;
}

.header-container .menu {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;

    color: white;
}

.header-container.active .menu {
    color: #ffffff;
}

.header-container .menu ul {
    margin-right: 5vw;
}

.header-container .menu ul li {
    display: inline-block;
    margin-left: 27px;
}

.header-container .menu ul li a {
    color: white;
    text-shadow: -1px -1px 0 #141414, 1px -1px 0 #141414, -1px 1px 0 #141414,
        1px 1px 0 #141414;

    -webkit-text-stroke: 1px solid #141414;
    text-decoration: none;
}
