.animate__animated.animate__bounce {
    --animate-duration: 2s;
}

.header-container {
    background-color: transparent;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;

    transition: background-color 0.5s;
}

.header-container.active {
    background-color: black;
}

.header-container .logo {
    margin-left: 5vw;
    margin-top: 8px;
}

.header-container .menu {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;

    color: white;
}

.header-container.active .menu {
    color: #ffffff;
}

.header-container .menu ul {
    margin-right: 5vw;
}

.header-container .menu ul li {
    display: inline-block;
    margin-left: 27px;
}
