.video-principal-container {
    height: 100vh;
    background: url('../../../../assets/background_principal.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
