.imagens-m-container {
    padding: 30px 0px;
    position: relative;
}

.imagens-m-container .textos {
    width: 100vw;
    padding: 0px 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.imagens-m-container .textos img {
    width: 80vw;
}

.imagens-m-container .textos .header p {
    font-weight: normal;
    font-size: 12.4886px;
    line-height: 19px;
}

.imagens-m-container .textos .header h2 {
    width: 80vw;
    font-weight: normal;
    font-size: 50px;
    line-height: 67px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.imagens-m-container .textos .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.imagens-m-container .textos .footer p {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
}

.imagens-m-container .textos .footer p + p {
    margin-top: -25px;
    font-weight: normal;
    font-size: 109.892px;
    line-height: 139px;
}
