.resumo-2-servicos-m-container {
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.resumo-2-servicos-m-container .left {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.resumo-2-servicos-m-container .left .acima {
    -webkit-background-clip: text !important;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: 600;
    font-size: 17.6415px;
    line-height: 26px;
}

.resumo-2-servicos-m-container .left .titulo {
    width: 80%;
    font-weight: 600;
    font-size: 46px;
    line-height: 60px;
    margin-bottom: 20px;
}

.resumo-2-servicos-m-container .left .texto {
    width: 90%;
    font-weight: normal;
    font-size: 21.6028px;
    line-height: 38px;
    letter-spacing: 0.025em;
    color: #141414;
}

.resumo-2-servicos-m-container img {
    margin-top: 20px;
    width: 80vw;
}
