.contatos-m-container {
    margin-bottom: 60px;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contatos-m-container h2 {
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    line-height: 52px;
    color: #141414;
    text-transform: uppercase;

    margin-bottom: 25px;
}

.contatos-m-container .lista {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.contatos-m-container .lista .contato {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 45%;
}

.contatos-m-container .lista .linha_um {
    font-weight: 500;
    font-size: 18.7248px;
    line-height: 28px;
    color: #141414;
    text-align: center;
}

.contatos-m-container .lista .linha_dois {
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #141414;
    text-align: center;
}

.contatos-m-container .lista .linha_tres {
    font-weight: normal;
    font-size: 18.7248px;
    line-height: 28px;
    color: #141414;
    text-align: center;
}
