.servicos-resumo-container {
    height: 100vh;
    width: 100%;
    background: url('../../../../assets/background_triangulo.jpg');
    background-repeat: repeat;
    background-size: auto;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicos-resumo-container .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicos-resumo-container .header .acima {
    -webkit-background-clip: text !important;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: 800;
    font-size: 15px;
    text-transform: uppercase;
}

.servicos-resumo-container .header .titulo {
    font-weight: 600;
    font-size: 44.2924px;
    color: white;
    text-transform: uppercase;
}

.servicos-resumo-container .header .paragrafo {
    color: #dfdfdf;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.025em;
}

.servicos-resumo-container .lista {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-top: 75px;
    margin-bottom: 50px;
}

.servicos-resumo-container .lista .servico {
    margin-right: 11px;
    margin-left: 11px;
    width: 100%;
    height: 225px;
    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #ad00ff 0%, #2c60c5 100%);
    border-image-source: -webkit-linear-gradient(
        to right,
        #ad00ff 0%,
        #2c60c5 100%
    );
    border-image-source: -moz-linear-gradient(
        to right,
        #ad00ff 0%,
        #2c60c5 100%
    );

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.servicos-resumo-container .lista .servico:hover {
    border-image-source: linear-gradient(to right, #fff 0%, #fff 100%);
    background: -moz-linear-gradient(
        to right,
        rgba(173, 0, 255, 0.4) 0%,
        rgba(44, 96, 197, 0.4) 100%
    );
    background: -webkit-linear-gradient(
        to right,
        rgba(173, 0, 255, 0.4) 0%,
        rgba(44, 96, 197, 0.4) 100%
    );
    background: linear-gradient(
        to right,
        rgba(173, 0, 255, 0.4) 0%,
        rgba(44, 96, 197, 0.4) 100%
    );
}

.servicos-resumo-container .lista .servico p {
    color: white;
    margin-top: 15px;
    font-size: 23px;
    line-height: 100%;
    font-weight: 400;
    text-align: center;
}

.servicos-resumo-container .ver-mais {
    color: white;
    font-size: 23px;
    text-transform: uppercase;
    cursor: pointer;
}

.servicos-resumo-container .ver-mais:hover {
    text-decoration: underline;
    text-decoration-color: rgba(173, 0, 255, 1);
}
