@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/*VARIAVEIS DO CSS*/
:root {
    --corPrincipal: linear-gradient(91.73deg, #ad00ff 0%, #2c60c5 100%);
    --corPrincipal40: linear-gradient(
        91.73deg,
        rgba(173, 0, 255, 0.4) 0%,
        rgba(44, 96, 197, 0.4) 100%
    );
    --corPrincipal70: linear-gradient(
        91.73deg,
        rgba(173, 0, 255, 0.7) 0%,
        rgba(44, 96, 197, 0.7) 100%
    );
    --cinza505050: #505050;
    --cinzaAFAFAF: #dfdfdf;
    --cinza141414: #141414;
}
/*FINAL DAS VARIAVEIS*/

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    width: 5px;
    background: #dfdfdf;
}

::-webkit-scrollbar-thumb {
    background: -moz-linear-gradient(
            91deg,
            rgba(173, 0, 255, 0.7) 0%,
            rgba(44, 96, 197, 0.7) 100%
        ),
        #2c60c5;
    background: -webkit-linear-gradient(
            91deg,
            rgba(173, 0, 255, 0.7) 0%,
            rgba(44, 96, 197, 0.7) 100%
        ),
        #2c60c5;
    background: linear-gradient(
            91deg,
            rgba(173, 0, 255, 0.7) 0%,
            rgba(44, 96, 197, 0.7) 100%
        ),
        #2c60c5;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: Oswald, sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

input,
button,
textarea {
    font-family: Oswald, sans-serif;
}

button {
    cursor: pointer;
}

.texto-gradiente {
    background: -moz-linear-gradient(
        91deg,
        rgba(173, 0, 255, 1) 0%,
        rgba(44, 96, 197, 1) 100%
    );
    background: -webkit-linear-gradient(
        91deg,
        rgba(173, 0, 255, 1) 0%,
        rgba(44, 96, 197, 1) 100%
    );
    background: linear-gradient(
        91deg,
        rgba(173, 0, 255, 1) 0%,
        rgba(44, 96, 197, 1) 100%
    );
}

.btn-padrao {
    border: 0;
    color: white;
    font-size: 20px;
    padding: 10px 70px;
    font-weight: normal;
    text-transform: uppercase;

    transition: opacity 0.5s;

    background: -moz-linear-gradient(
        91deg,
        rgba(173, 0, 255, 1) 0%,
        rgba(44, 96, 197, 1) 100%
    );
    background: -webkit-linear-gradient(
        91deg,
        rgba(173, 0, 255, 1) 0%,
        rgba(44, 96, 197, 1) 100%
    );
    background: linear-gradient(
        91deg,
        rgba(173, 0, 255, 1) 0%,
        rgba(44, 96, 197, 1) 100%
    );
}

.btn-padrao:hover {
    opacity: 0.7;
}
